/*indexContainer*/
.container{
    
}
.container .inner-container{
    padding: 5px;
}
.container .inner-container .index{
    display: flex;
    justify-content: center;
}
.container .inner-container .index .sections{
    flex: 0 1 1200px;
    /* border: 1px solid #000; */
}
.container .inner-container .index .sections .section.sec1{
    width: 100%;
}
.container .inner-container .index .sections .section.sec1 .sec-con{
    width: 100%;
    height: 500px;
    position: relative;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    transition: all .3s;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery{
    width: 100%;
    height: inherit;
    position: absolute;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul{
    width: 100%;
    height: inherit;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li{
    width: 100%;
    height: inherit;
    position: absolute;
    /* border: 1px solid #000; */
    box-sizing: border-box;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(1){
    background: url(../../img/sec1_0.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(2){
    background: url(../../img/sec1_1.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(3){
    background: url(../../img/sec1_2.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(4){
    background: url(../../img/sec1_3.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(5){
    background: url(../../img/sec1_4.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container .inner-container .index .sections .section.sec2 .sec-con{
    flex: 0 1 960px;
    height: auto;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    padding: 0.25%;
    transition: all .3s;
}
.container .inner-container .index .sections .section.sec2 .sec-con>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .inner-container .index .sections .section.sec2 .sec-con>ul>li{
    flex: 0 1 33.25%;
    padding: 0.25%;
    box-sizing: border-box;
}
.container .inner-container .index .sections .section.sec2 .sec-con>ul>li img{
    display: block;
    width: 100%;
    height: auto;
}

@media only screen and (max-width:767px){
    .container .inner-container .index .sections .section.sec1 .sec-con{
        height: 400px;
    }
    .container .inner-container .index .sections .section.sec2 .sec-con>ul>li{
        flex: 0 1 49.75%;
        padding: 0.25%;
        box-sizing: border-box;
    }
}
@media only screen and (max-width:640px){
    .container .inner-container .index .sections .section.sec1 .sec-con{
        height: 300px;
    }
    .container .inner-container .index .sections .section.sec2 .sec-con>ul>li{
        flex: 0 1 100%;
        padding: 1% 20px;
        box-sizing: border-box;
    }
}